firmware/libwrt-qualcommax-ipq60xx-jdcloud_ax1800-pro-squashfs-factory.bin
firmware/libwrt-qualcommax-ipq60xx-jdcloud_ax1800-pro-squashfs-sysupgrade.bin
firmware/libwrt-qualcommax-ipq60xx-jdcloud_ax6600-squashfs-factory.bin
firmware/libwrt-qualcommax-ipq60xx-jdcloud_ax6600-squashfs-sysupgrade.bin
firmware/libwrt-qualcommax-ipq60xx-jdcloud_re-cs-07-squashfs-factory.bin
firmware/libwrt-qualcommax-ipq60xx-jdcloud_re-cs-07-squashfs-sysupgrade.bin
firmware/libwrt-qualcommax-ipq60xx.manifest
